* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000000;
  }
  
  main {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 90vw;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 20px;
    border-radius: 10px;
  }
  
  h1 {
    background-color: #1b1096;
    color: white;
    width: 100%;
    margin-bottom: 10px;
    font-size: 2rem;
    padding: 20px 10px;
    border-radius: 10px 10px 0 0;
  }
  
  .output {
    padding: 10px 5px;
    border-radius: 9999px;
    background-color: #1b1096;
    color: white;
    margin-top: 10px;
  }
  
  .output-section {
    margin-top: 20px;
  }
  
  .input-section {
    width: 70%;
  }
  
  .input-slider {
    width: 100%;
    margin-top: 5px;
  }
  
  .slider-output {
    text-align: left;
    margin-top: 10px;
  }
  

  /* Table IMC */

.table-section {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 1rem;
  color: #212529;
  border: 1px solid #3b3b3b;
  border-radius: .25rem;
  margin-left: auto;
  margin-right: auto;
}

.table-section thead th {
  width: 70%;
  margin-bottom: 1rem;
  color: #212529;
  border: 1px solid #3b3b3b;
  border-radius: .25rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
}

.table-section th
{
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #3b3b3b;
  background-color: #cdc8ff;
  color: #3b3b3b;

}

.table-section td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #3b3b3b;
}

tr:nth-child(even){
  background-color: #f2f2f2;

}

tr:hover {
  background-color: #ddd;
}